*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
}

@font-face {
  font-family: "righteous";
  src: url(./font/righteous/Righteous-Regular.woff);
}

/* .container {
  margin: 0 auto;
  max-width: 900px;
} */

body {
  font-family: "righteous";
}
