*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
}

@font-face {
  font-family: "righteous";
  src: url(./font/righteous/Righteous-Regular.woff);
}

.custom-container {
  margin: 0 auto;
  max-width: 1100px;
}

body {
  font-family: "righteous";
}
